/* Contact Section */
.contact {
    padding: 50px;
    background-color: #f9f9f9;
    background-image: url("../images/contact.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-info {
    flex: 1;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.contact-info p {
    font-size: 1.1rem;
    color: #777;
    margin-bottom: 20px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

.contact-info li strong {
    color: #ffcc00;
}

/* Contact Form */
.contact-form-container {
    flex: 2;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form-container h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #333;
}

.contact-form-container p {
    font-size: 1.1rem;
    color: #777;
    margin-bottom: 20px;
}

/* Contact Form Styling */
.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea{
    resize: vertical;
}

.form-group input:focus, .form-group textarea:focus {
    border-color: #ffcc00;
    outline: none;
}

button {
    background-color: #ffcc00;
    color: #333;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ffaa00;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        gap: 20px;
    }

    .contact-info, .contact-form-container {
        width: 100%;
        padding: 20px;
    }
}
